alembic==1.10.4
bcrypt==4.0.1
biopython==1.81
celery==5.2.7
emails==0.6
fastapi==0.95.1
k_means_constrained==0.7.2
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.1.2
pandas==1.5.3
pandas_stubs==1.5.3.230321
pandera==0.14.5
passlib==1.7.4
psycopg2-binary==2.9.6
pydantic==1.8.2
pytest==7.3.1
python_jose==3.3.0
pytz==2023.3
raven==6.10.0
requests==2.30.0
scipy==1.10.1
seaborn==0.12.2
SQLAlchemy==1.4.26
starlette==0.26.1
tenacity==8.2.2
