alembic==1.11.3
bcrypt==3.7.1
biopython==1.81
celery==5.3.1
emails==0.6
email_validator==2.0.0.post2
fastapi==0.101.1
k_means_constrained==0.7.3
openpyxl==3.1.2
pandas==2.0.3
pandera==0.16.1
passlib==1.7.4
psycopg2-binary==2.9.7
pydantic==1.10.12
python_jose==3.3.0
pytz==2023.3
raven==6.10.0
requests==2.31.0
scipy==1.11.2
seaborn==0.12.2
SQLAlchemy==2.0.20
tenacity==8.2.3
